<?xml version="1.0" encoding="UTF-8"?>

<widget xmlns = "http://www.w3.org/ns/widgets"
id = "io.cordova.interdrugs"
version = "0.0.1">
  
<preference name="phonegap-version" value="3.7.0" />

<name>Interdrugs</name>
<description>
Interdrugs.
</description>
<author href="http://www.interdrugs.com.ar" email="info@interdrugs.com.ar">
Interdrugs
</author>
<access origin="*"/>
<!-- <content src="http://mysite.com/myapp.html" /> for external pages -->
<content src="index.html" />


<gap:plugin name="com.brodysoft.sqliteplugin" version="1.0.0" />

</widget>


